<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">
        <form action="{% url 'FORGET' %}" method="post">
            <label for="email">
                Email 
            </label>
            <input type="email" name="email">
            {% csrf_token %}
            <input type="submit" value="continue">
        </form>
    </h1>
</body>
</html>